psycopg2-binary==2.9.10
python-dotenv==1.0.1
cryptography==44.0.0
sqlalchemy==2.0.37
ipeadatapy==0.1.9
jupyterlab
notebook
requests==2.32.3
pandas==2.2.3
pytest==8.3.4
pytest-mock==3.14.0
redis==5.2.1